<div class="edu_course_main_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="edu_heading_wrapper float_left">
                        <h3>Popular Courses</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor, libero non
                            <br>interdum maximus, ligula nulla pretium ligula, a egestas ex nibh.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="edu_coll_slider_tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li>
                                <div class="slider"></div>
                            </li>
                            <li role="presentation" class="active"><a href="#All" role="tab" data-toggle="tab">All</a>
                            </li>
                            <li role="presentation"><a href="#html" role="tab" data-toggle="tab">html</a>
                            </li>
                            <li role="presentation" class=""><a href="#psd" role="tab" data-toggle="tab">psd </a>
                            </li>
                            <li role="presentation"><a href="#WorPress" role="tab" data-toggle="tab">WorPress</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="tab-content">
                        <div id="All" class="tab-pane active" role="tabpanel">
                            <div class="row">
                                {% for course in courses %}
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                    <div class="edu_slide_tab_box float_left">
                                        <div class="edu_slide_tabs_img_box float_left">
                                            <img src="{{ course.image.url }}" alt="img">
                                            <div class="edu_tabs_label">
                                                <p><del>{{ course.price}}</del>
                                                </p>
                                                <div class="edu_tabs_label_inner">
                                                    <p>$65</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="edu_slide_tabs_img_cont_box float_left">
                                            <h4>Start Date : <span>{{ course.created_at|date:"d-b Y" }}</span></h4>
                                            <h3><a href="#">{{ course.title }}</a></h3>
                                            <p>{{ course.description|truncatewords:8 }}</p>
                                            <h5><a href="/course/{{ course.slug }}">Join Now</a></h5>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>