<div class="edu_gallery_main_wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="edu_heading_wrapper float_left">
						<h3>OUR SCHOOL GALLERY</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor, libero non
							<br>interdum maximus, ligula nulla pretium ligula, a egestas ex nibh.</p>
					</div>
				</div>
				<div class="col-md-12">
					<div class="swiper-container s1">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="/static/images/gallery1.jpg" alt="screenshot">
								<div class="edu_gallery_slider_overlay">	<a href="/static/images/school/gallery1.jpg" class="venobox info"><i class="flaticon-plus-symbol"></i></a>
								</div>
							</div>
							<div class="swiper-slide">
								<img src="/static/images/gallery2.jpg" alt="screenshot">
								<div class="edu_gallery_slider_overlay">	<a href="/static/images/school/gallery2.jpg" class="venobox info"><i class="flaticon-plus-symbol"></i></a>
								</div>
							</div>
							<div class="swiper-slide">
								<img src="/static/images/gallery3.jpg" alt="screenshot">
								<div class="edu_gallery_slider_overlay">	<a href="/static/images/school/gallery3.jpg" class="venobox info"><i class="flaticon-plus-symbol"></i></a>
								</div>
							</div>
							<div class="swiper-slide">
								<img src="/static/images/gallery4.jpg" alt="screenshot">
								<div class="edu_gallery_slider_overlay">	<a href="/static/images/school/gallery4.jpg" class="venobox info"><i class="flaticon-plus-symbol"></i></a>
								</div>
							</div>
							<div class="swiper-slide">
								<img src="/static/images/gallery5.jpg" alt="screenshot">
								<div class="edu_gallery_slider_overlay">	<a href="/static/images/school/gallery5.jpg" class="venobox info"><i class="flaticon-plus-symbol"></i></a>
								</div>
							</div>
						</div>
						<div class="swiper-pagination one"></div>
					</div>
					<!-- swiper-container -->
					<div class="swiper-button-prev">	<i class="flaticon-left-arrow"></i>
					</div>
					<div class="swiper-button-next">	<i class="flaticon-right-arrow"></i>
					</div>
				</div>
			</div>
		</div>
	</div>