<div class="edu_team_main_wrapper float_left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="edu_heading_wrapper float_left">
                        <h3>OUR SPECIAL TEAM</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor, libero non
                            <br>interdum maximus, ligula nulla pretium ligula, a egestas ex nibh.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 self_align_center">
                    <div class="edu_team_main_box">
                        <h3><a href="#">Jacklen Fandores</a></h3>
                        <p>Web Designer</p>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                        <div class="edu_team_inner_box">
                            <img src="/static/images/it1.jpg" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 self_align_center">
                    <div class="edu_team_main_box">
                        <h3><a href="#">Jacklen Fandores</a></h3>
                        <p>Web Designer</p>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                        <div class="edu_team_inner_box">
                            <img src="/static/images/it2.jpg" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 self_align_center">
                    <div class="edu_team_main_box">
                        <h3><a href="#">Jacklen Fandores</a></h3>
                        <p>Web Designer</p>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                        <div class="edu_team_inner_box">
                            <img src="/static/images/it3.jpg" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 self_align_center">
                    <div class="edu_team_main_box">
                        <h3><a href="#">Jacklen Fandores</a></h3>
                        <p>Web Designer</p>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                        <div class="edu_team_inner_box">
                            <img src="/static/images/it4.jpg" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="edu_bottom_btn_wrapper float_left"> <a href="#">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>