{% extends 'base.html' %}

{% block content %}

<!--edu form wrapper Start-->
{% include 'main/components/_form_wrapper.html' %}
<!--edu form wrapper end-->

<!--edu books wrapper Start-->
{% include 'main/components/_books_wrapper.html' %}
<!--edu books wrapper End-->

<!--edu counter wrapper Start-->
{% include 'main/components/_counter_wrapper.html' %}
<!--edu counter wrapper End-->

<!--edu course wrapper Start-->
{% include 'main/components/_course_wrapper.html' %}
<!--edu course wrapper End-->

<!--edu gallery wrapper Start-->
{% include 'main/components/_gallery_wrapper.html' %}
<!--edu gallery wrapper End-->

<!--edu team wrapper Start-->
{% include 'main/components/_team_wrapper.html' %}
<!--edu team wrapper End-->

<!--edu Blog wrapper Start-->
{% include 'main/components/_blog_wrapper.html' %}
<!--edu Blog wrapper End-->

<!--edu testimonial wrapper Start-->
{% include 'main/components/_testimonial_wrapper.html' %}
<!--edu testimonial wrapper End -->

<!--edu partner wrapper Start-->
{% include 'main/components/_partner_wrapper.html' %}
<!--edu partner wrapper End-->

<!--edu letter wrapper Start-->
{% include 'main/components/_letter_wrapper.html' %}
<!--edu letter wrapper End-->

{% endblock content %}