     <div class="footer jb_cover float_left">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="footerNav jb_cover">
                        <a href="#">
                            <img src="/static/images/footer_logo.png" alt="img">
                        </a>
                        <ul class="footer_first_contact">
                            <li><i class="flaticon-map-marker"></i>
                                <p>123 City Avenue, Floor 10,
                                    <br>malbourne, Australia.</p>
                            </li>
                            <li><i class="flaticon-telephone"></i>
                                <p>1 -234 -456 -7890
                                    <br>1 -234 -456 -7890</p>
                            </li>
                            <li><i class="flaticon-close-envelope"></i><a href="#">info@Jbdesks.com </a>
                                <br> <a href="#">support@Jbdesks.com</a>
                            </li>
                        </ul>
                        <ul class="icon_list_news jb_cover">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li> <a href="#"><i class="fab fa-twitter"></i>
                                    </a>
                            </li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="footerNav jb_cover footer_border_displ footer_border_disp2">
                        <h5>features</h5>
                        <ul class="nav-widget">
                            <li><a href="#"><i class="fa fa-square"></i>Job Management & Billing
</a>
                            </li>
                            <li><a href="#"><i class="fa fa-square"></i>Time & Materials Tracking
</a>
                            </li>
                            <li><a href="#"><i class="fa fa-square"></i>Standards Compliance
</a>
                            </li>
                            <li><a href="#"><i class="fa fa-square"></i>Real Time GPS Tracking
</a>
                            </li>
                            <li><a href="#"><i class="fa fa-square"></i>Client Portal
</a>
                            </li>
                            <li><a href="#"><i class="fa fa-square"></i> Powerful Workflow</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="footerNav jb_cover footer_border_displ footer_border_disp3">
                        <h5>browse</h5>
                        <ul class="nav-widget">
                            <li><a href="#"><i class="fa fa-square"></i>Freelancers by Category</a>
                            </li>
                            <li><a href="#"><i class="fa fa-square"></i> Freelancers in USA </a>
                            </li>
                            <li><a href="#"><i class="fa fa-square"></i> Freelancers in UK</a>
                            </li>
                            <li><a href="#"><i class="fa fa-square"></i> Freelancers in Canada</a>
                            </li>
                            <li><a href="#"><i class="fa fa-square"></i> Freelancers in india</a>
                            </li>
                            <li><a href="#"><i class="fa fa-square"></i> find jobs</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="footerNav jb_cover footer_border_displ footer_border_disp3">
                        <h5>app & integration</h5>
                        <ul class="nav-widget">
                            <li>
                                <a href="#">
                                    <img src="/static/images/ft1.png" alt="img">Xero</a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/images/ft2.png" alt="img">Reckon</a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/images/ft3.png" alt="img">Flexidocs</a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/images/ft4.png" alt="img">Microsoft Exchange</a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/images/ft5.png" alt="img">Mailchimp</a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/images/ft6.png" alt="img">MYOB</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
    </div>
    <div class="edu_footer_bottom float_left">
        <div class="container">
            <div class="bottom_footer float_left">
                <p>&copy;2020-21 Education. All Rights Reserved.</p>
            </div>
        </div>
    </div>